

.box-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex: 1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #ddd;
  cursor: pointer;
  flex: 1 !important;
  flex-grow: 1 !important;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #ccc;
}

.box.active {
  background-color: #aaa;
  color: white;
  box-shadow: 0px 0px 10px #888;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex: 1;
}

.new-box-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.add-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.add-box input {
  margin-right: 10px;
}

.box-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  overflow-y: auto;
}
